body {
    font-family: 'New Times Roman', serif;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}

h1, h2, h3 {
    font-size: 14px;
}

img {
    max-width: 25%; 
    height: auto; 
}

/* Add more CSS rules for styling elements like header, navigation, sections, etc. */

  /* General Styles */

   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
 
  nav {
    display: block;
    justify-content: center;
    background-color: #241aaf;
    padding: 10px;
  }


  nav a {
    color: rgb(243, 79, 79);
    text-decoration: wavy ;
    margin: 0 15px;
    font-weight: bold;
  }
  nav a:hover {
    text-decoration: underline;
  }
  .container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }

